<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <title>To Do List</title>
</head>

<body ng-controller="MainController">
  <h1> To Do List </h1>
  <input type="text" ng-model="item" />
  <br />
<div>
  <button ng-click="addClick()"> ADD </button>
  <ul ng-repeat="item in items track by $index">
    <li class="entry">
    {{item}}
    <button ng-click="removeItem()">REMOVE</button>
  </li>
</ul>
  </div>
</div>
<!-- <div ng-repeat="finish in finishs">
  {{item}}
  <input type="radio" ng-model="item" ng-value="finish" />
</div>
<div>
<h3>Completed :</h3>
{{finish}}
</div> -->

</body>

</html>
